<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.yuanmianai.mapper.InterviewSessionMapper">

    <resultMap id="BaseResultMap" type="com.dong.yuanmianai.model.entity.InterviewSession">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="jobRole" column="jobRole" jdbcType="VARCHAR"/>
        <result property="difficulty" column="difficulty" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,jobRole,difficulty,status,startTime,endTime
    </sql>
</mapper>
